body {
    margin-left: 15px;
    margin-right: 15px;
    background: #8cf08d;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


header {
    background-color: #008001;
    margin-bottom: 2%;
    width: 99.5%;
    text-align: center;
    color: #ffffff;
}
.toprow{
    height: 100%;
    width: 100%;
    margin-left: 3px;
    margin-bottom: 3px;
    float: left;

}
.picture{
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin: -3px;
    display: block;
    float: left;
    vertical-align: top;
    text-align: center;
    min-height: 450px;
    height: 100%;
    width: 33%;
    background-color: #008001;
    padding-bottom: 1%;
    position: relative;
}

img{
    width: 80%;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    max-width: 400px;
    margin: 2%;
}

img:hover{
    border-style:solid;
    border-width:10px;
    border-color:red;
}

p{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: yellow;
}

.bottomrow{
    height: 100%;
    width: 100%;
    margin-left: 3px;
    margin-bottom: 3px;
    float: left;
}

table{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    background-color: #fffedf;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;

}

#tabel{
    width: 66%;
    float: left;
    text-align: center;
    background-color: #008001;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin: -3px;
    padding-top: 2%;
    height: 400px;
}



th, td{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.bottompicture{
    width: 33%;
    float: left;
    vertical-align: top;
    text-align: center;
    padding-top: 2%;
    height: 400px;
    background-color: #008001;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin: -3px;
}